##### NAMA  : ATINA NORA HAYA
##### NIM   : 2211110043
##### KELAS : SD03B

In [9]:
!pip install faker

Requirement already satisfied: faker in /home/atina/anaconda3/lib/python3.11/site-packages (19.10.0)
Requirement already satisfied: python-dateutil>=2.4 in /home/atina/anaconda3/lib/python3.11/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/atina/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [17]:
from faker import Faker

fake = Faker()

jml_data = 100

hasil_data = []

for _ in range(jml_data):
    nama = fake.name()
    phone = fake.phone_number()
    alamat = fake.address()
    email = fake.email()
    
    data = f"Nama: {nama}\nEmail: {email}\nNo.HP: {phone}\nAlamat: {alamat}"
    hasil_data.append(data)
    
file_name = "hasil_data.txt"
with open(file_name, "w") as file:
    for i in hasil_data:
        file.write(i + "\n\n")
        
print(f"{jml_data} data berhasil tersimpan dalam {file_name}.")

100 data berhasil tersimpan dalam hasil_data.txt.

In [18]:
# Normalisasi email

import re

pattern = r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z.]+"

with open("hasil_data.txt", "r") as x:
    data = x.readlines()
    
emails = []

for i in data:
    cocok = re.search(pattern, i)
    if cocok:
        emails.append(cocok.group())
print(emails)

['shawnjimenez@example.org', 'hannah77@example.net', 'william27@example.com', 'markkent@example.com', 'gwallace@example.net', 'michaeltaylor@example.com', 'vcochran@example.com', 'lopezchristopher@example.com', 'cassandranelson@example.com', 'zgonzalez@example.org', 'vespinoza@example.net', 'vrowland@example.com', 'joy96@example.com', 'amycollins@example.net', 'uburns@example.org', 'stephenevans@example.net', 'josehines@example.net', 'david13@example.org', 'willie79@example.net', 'gutierrezkatherine@example.org', 'josephwhite@example.com', 'smithjennifer@example.com', 'harmoncaleb@example.net', 'longmichelle@example.com', 'kparker@example.net', 'edwardterrell@example.org', 'llowe@example.net', 'hansenchristopher@example.net', 'traviscaldwell@example.org', 'theresa52@example.com', 'annanthony@example.org', 'jennifer91@example.net', 'michael57@example.net', 'davidmoore@example.com', 'armstrongamanda@example.org', 'floresjohn@example.org', 'derrickgarcia@example.com', 'schmidtpaige@example.com', 'larry47@example.org', 'zjones@example.com', 'marissarobinson@example.net', 'amyjordan@example.net', 'silvaalbert@example.com', 'clarencelawson@example.org', 'anna15@example.org', 'iduncan@example.net', 'george59@example.com', 'reedchelsey@example.com', 'pbradley@example.com', 'michael77@example.org', 'turnersarah@example.net', 'millsdylan@example.com', 'charlotte35@example.org', 'ethan13@example.org', 'brandon68@example.org', 'douglaspugh@example.com', 'kyliemiller@example.org', 'floresemma@example.net', 'mwarren@example.org', 'mkent@example.com', 'heatherjohnston@example.org', 'anthonysullivan@example.org', 'sdavis@example.org', 'oturner@example.net', 'elizabeth10@example.com', 'lopeztina@example.com', 'kathleen41@example.net', 'raymondwalker@example.org', 'brian41@example.com', 'hoffmanmark@example.com', 'dolson@example.org', 'zclayton@example.net', 'bradley56@example.com', 'campbellstacy@example.org', 'allenlouis@example.net', 'richardperez@example.com', 'christinaperez@example.com', 'katherineblackwell@example.net', 'walleradam@example.net', 'denisewilson@example.net', 'sandra81@example.net', 'charles18@example.net', 'adamberger@example.org', 'zsmith@example.com', 'susan90@example.net', 'frenchedward@example.com', 'ortizjaclyn@example.org', 'cookmark@example.org', 'shahdebra@example.com', 'lesliewalters@example.com', 'vochoa@example.com', 'anthony10@example.net', 'amarsh@example.org', 'allisoncampbell@example.org', 'natasha52@example.net', 'keith31@example.org', 'janetmorgan@example.org', 'katherineschneider@example.net', 'jreese@example.com', 'daughertyhunter@example.net']

In [19]:
# Normalisasi nomor hp

import re

with open("hasil_data.txt", "r") as x:
    a = x.readlines()
    b = "".join(a)
    
pattern_phone = r"No.HP:\s+([\d+()-]+)"
phone = re.findall(pattern_phone, b)

phones = []
for i in phone:
    num = re.sub(r"\s+", "", i, flags=re.I)
    num = re.sub(r"\W", "", i)
    phones.append(num)
    
print(phones)

['5143799936', '6277189223', '7453822392', '724', '4107628465', '958', '8482783059', '5475419110', '0017013932012', '826', '7237058610', '13006943467', '5874921874', '993', '426', '3575939269', '7624210653', '2044488857', '0014859697909', '13445120779', '3419686651', '853', '19855355988', '0018679738398', '3414295931', '0017663890204', '4505784602', '17943871541', '0019907565061', '938', '5842421242', '527', '16126863747', '6822677814', '536', '0016497840334', '17355737316', '448', '7147565047', '16939084698', '5066458394', '3268741719', '15215882609', '205', '4272855612', '18387993262', '7845060054', '0015544681498', '9707492666', '304', '6585520823', '764', '263', '6443162106', '0016294160530', '4036386821', '357', '0019826046969', '883', '18065368233', '14066754360', '5382385865', '5685843074', '8828152795', '693', '7543322650', '6319726488', '0019136092860', '9265766913', '8205800323', '3366629910', '0019694120348', '14755212207', '964', '0016856677347', '391', '0012786060441', '0019997722792', '9844703057', '0012687886096', '402', '4229592171', '5554918626', '15079985273', '2037133516', '5643065553', '0019676379612', '6588782612', '13493043386', '786', '0012512550237', '18617711843', '8862291795', '575', '293', '2242326457', '710', '7977878578', '6069429296', '5777455219']

In [21]:
import pandas as pd 
pd.DataFrame({"Email": emails, "No.HP": phones})

                             Email       No.HP
0         shawnjimenez@example.org  5143799936
1             hannah77@example.net  6277189223
2            william27@example.com  7453822392
3             markkent@example.com         724
4             gwallace@example.net  4107628465
..                             ...         ...
95             keith31@example.org  2242326457
96         janetmorgan@example.org         710
97  katherineschneider@example.net  7977878578
98              jreese@example.com  6069429296
99     daughertyhunter@example.net  5777455219

[100 rows x 2 columns]